{% extends "base.html" %}
{% block body %} 
<div class="main">
    <div id="page1">
        <h2 class="center">Transcribe Speech to Text</h2>
        <div class="container center">
            <form action = "/upload" id="transcribe-form" method="POST" enctype="multipart/form-data">
                <input type="file" id="file" name="file"><br><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div> 
{% endblock %}

{% block js %}<script src="{{ url_for('static',filename='js/form.js') }}"></script>{% endblock %}